    body {
        font-family: Calibri, sans-serif;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        border: 0.5px solid black;
        padding: 7px;
        height: 7px;
        font-size: 12px;
    }

    #topCell {
        height: 5px;
        width: 100%;
        text-align: center;
    }

    #bottomLeft,
    #bottomRight
     {
        width: 33.3%;
    }

    #middle {
        width: 6%;
    }
    .bottomLeft1{
        text-align: center;
        background-color: gray;
    }
    .transparent {
        border: 0.5px solid gray;
    }